<div class="card col-sm-5 p-0 mx-auto border-info">
  <div class="card-header text-white bg-info">
    Burgers Availabe
  </div>
  <div class="card-body">
    <div class="input-group mb-3">
        <input id="burger-name" name="name" type="text" class="form-control" placeholder="Add a burger" aria-label="Name" aria-describedby="btnNewBurger">
        <div class="input-group-append">
            <button class="btn btn-info" id="btnNewBurger">Add</button>
        </div>
    </div>

    <ul class="list-group list-group-flush">
    {{#each burgers}}
        {{#unless devoured}}
        <li class="list-group-item">
            <span><i class="fas fa-hamburger text-info"></i> <b>{{name}}</b></span>
            <div class="input-group mt-2 ml-auto">
              <input id="name" name="customer" data-id="{{id}}" class="form-control customer" type="text" placeholder="Customer" aria-label="Name"
                aria-describedby="btnDevour">
              <div class="input-group-append">
                <button class="btn btn-info devour" data-id="{{id}}" id="btnDevour">Devour it!</button>
              </div>
            </div>
        </li>
        {{/unless}}
    {{/each}}
    </ul>
  </div>
</div>

<div class="card col-sm-5 p-0 mx-auto border-danger">
  <div class="card-header text-white bg-danger">
    Devoured Burgers!
  </div>
  <div class="card-body">
    <ul class="list-group list-group-flush">
        {{#each burgers}}
            {{#if devoured}}
            <li class="list-group-item">
                <i class="far fa-grin-tongue-squint text-danger"></i>
                {{name}} (devoured by: {{Customer.name}})
            </li>
            {{/if}}
        {{/each}}
    </ul>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Warning</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id="error-msg"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
